nav ul{
  padding: 0px;
  margin: 0px;
  list-style-type:none;
  background-color: #333333;

}

nav li{
  display:inline-block;
  width: 200px;
  height: 40px;
  margin:0px;
  padding:0px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  line-height: 40px
}

nav li:hover{
  background-color: #330000
}

nav li a{
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.vueConnexion{
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.vueTexte{
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.page{
  display: inline;
}

h3{
  text-align: center;
}